extends layout
block banner
  img(src="/images/clientes.jpg")
block main
  h1 Clientes
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis possimus, ipsa sed cupiditate consectetur in inventore libero, pariatur enim laboriosam repellat quis dignissimos cumque ab minus quas harum, officia ea.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati excepturi pariatur cupiditate quasi reprehenderit culpa praesentium laborum ad voluptas minus mollitia repellat, dolores quibusdam, placeat necessitatibus similique itaque. Molestias, ad.
    
