extends layout
block banner
  img(src="/images/banner.jpg")
block main
  h1 Bienvenidos
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit repellat suscipit vel aut officiis accusantium aperiam quos cumque ullam fugiat, quaerat reprehenderit esse nemo nesciunt quia non, commodi praesentium? Et.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aliquam corporis, animi quis, qui veniam itaque molestiae! Dolor fugiat, saepe corporis, alias ducimus quo nesciunt, culpa possimus quis eligendi cumque.
  
