extends layout
block banner
  img(src="/images/nosotros.jpg")
block main
  h1 Nosotros
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo exercitationem maiores vel odit error ipsa amet in consequatur est, reprehenderit veritatis incidunt id perferendis, a esse unde dolores nobis rerum!
  
